.Frontend {
    background-color: #00c3ff;
    color: #000000;
}

.Backend {
    background-color: #684700;
    color: #ffffff;
}

.Web_Security {
    background-color: rgb(148, 37, 199);
    color: #ffffff;
}